In [1]:
from pathlib import Path
import numpy as np
import pandas as pd

In [2]:
annotations_dir = Path("/media/hdd/data/assembly101/data/annotations/")

## Coarse-grained

In [3]:
coarse_dir = annotations_dir / "coarse-annotations"

labels_dir = coarse_dir / "coarse_labels"
splits_dir = coarse_dir / "coarse_splits"

actions_file = coarse_dir / "actions.csv"
coarse_seq_views = coarse_dir / "coarse_seq_views.txt"
tail_actions = coarse_dir / "tail_actions.txt"

### Actions

In [4]:
actions_df = pd.read_csv(actions_file)
actions_coarse = actions_df["action_cls"].unique()
print(f"there are {actions_coarse.shape} unique actions")
actions_df.head()

there are (202,) unique actions

   action_id  verb_id  noun_id    action_cls verb_cls noun_cls
0          0        2        4   inspect toy  inspect      toy
1          1        0        0  attach cabin   attach    cabin
2          2        1        0  detach cabin   detach    cabin
3          3        1        3  detach wheel   detach    wheel
4          4        0        3  attach wheel   attach    wheel

### Coarse splits

In [ ]:
splits = ["train", "validation"]
actions = ["assembly", "disassembly"]

splits_files = [
    f"{splits_dir}/{split}_coarse_{action}.txt"
    for split in splits
    for action in actions
]

In [ ]:
# ! they have two \t\t for the first field, then one \t and a trailing \n
splits_df = pd.read_csv(splits_files[0], sep="\t", header=None)
splits_df.drop(splits_df.columns[[1]], axis=1, inplace=True)
splits_df

In [ ]:
actions = ["assembly", "disassembly"]
test_splits_files = [f"{splits_dir}/test_coarse_{action}.txt" for action in actions]

In [ ]:
test_splits_df = pd.read_csv(test_splits_files[0], sep="\t\t", header=None)
test_splits_df

## Fine-grained

In [5]:
fine_dir = annotations_dir / "fine-grained-annotations"
actions_file = fine_dir / "actions.csv"
actions_train_file = fine_dir / "train.csv"
actions_val_file = fine_dir / "validation.csv"
actions_test_file = fine_dir / "test.csv"

### Actions

In [6]:
actions_df = pd.read_csv(actions_file)
actions_fine = actions_df["action_cls"].unique()
print(f"there are {actions_fine.shape} unique actions")
actions_df.head()

there are (1380,) unique actions

,id,action_id,verb_id,noun_id,action_cls,verb_cls,noun_cls
0,0,10,18,27,clap hand,clap,hand
1,1,3,0,2,pick up screwdriver,pick up,screwdriver
2,2,19,0,5,pick up finished toy,pick up,finished toy
3,3,182,4,26,unscrew track with screwdriver,unscrew,track
4,4,281,9,26,remove screw from track,remove screw from,track

#### Train

In [7]:
actions_train_df = pd.read_csv(actions_train_file)
actions_train_fine = actions_train_df["action_cls"].unique()
print(f"there are {actions_train_fine.shape} unique actions")
actions_train_df.head()

there are (1244,) unique actions

,id,video,start_frame,end_frame,action_id,verb_id,noun_id,action_cls,verb_cls,noun_cls,toy_id,toy_name,is_shared,is_RGB
0,0,nusar-2021_action_both_9011-b06b_9011_user_id_...,135,168,10,18,27,clap hand,clap,hand,b06b,-,0,1
1,1,nusar-2021_action_both_9011-b06b_9011_user_id_...,135,168,10,18,27,clap hand,clap,hand,b06b,-,0,1
2,2,nusar-2021_action_both_9011-b06b_9011_user_id_...,135,168,10,18,27,clap hand,clap,hand,b06b,-,0,1
3,3,nusar-2021_action_both_9011-b06b_9011_user_id_...,135,168,10,18,27,clap hand,clap,hand,b06b,-,0,1
4,4,nusar-2021_action_both_9011-b06b_9011_user_id_...,135,168,10,18,27,clap hand,clap,hand,b06b,-,0,1

#### Validation

In [8]:
actions_val_df = pd.read_csv(actions_val_file)
actions_val_fine = actions_val_df["action_cls"].unique()
print(f"there are {actions_val_fine.shape} unique actions")
actions_val_df.head()

there are (1018,) unique actions

,id,video,start_frame,end_frame,action_id,verb_id,noun_id,action_cls,verb_cls,noun_cls,toy_id,toy_name,is_shared,is_RGB
0,0,nusar-2021_action_both_9033-a30_9033_user_id_2...,84,111,10,18,27,clap hand,clap,hand,a30,suv,0,1
1,1,nusar-2021_action_both_9033-a30_9033_user_id_2...,84,111,10,18,27,clap hand,clap,hand,a30,suv,0,1
2,2,nusar-2021_action_both_9033-a30_9033_user_id_2...,84,111,10,18,27,clap hand,clap,hand,a30,suv,0,1
3,3,nusar-2021_action_both_9033-a30_9033_user_id_2...,84,111,10,18,27,clap hand,clap,hand,a30,suv,0,1
4,4,nusar-2021_action_both_9033-a30_9033_user_id_2...,84,111,10,18,27,clap hand,clap,hand,a30,suv,0,1

#### Test

The labels are missing to make it a challenge.

#### Comparison

In [12]:
actions = np.concatenate([actions_train_fine, actions_val_fine])

In [17]:
len(actions_fine), len(set(actions))

(1380, 1345)

`actions.csv` contains more actions than `actions_train.csv` and `actions_test.csv`.
Most likely there are unseen actions in the test set.